div.rule {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    div.form-error {
        width: 85vw;
        border: 1px solid #dedede;
        padding: 1vw;
        position: relative;
        margin-bottom: 1vh;
        max-height: 10vh;
        overflow-y: auto;
        .remove {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    div.form {
        width: 85vw;
        border: 1px solid #dedede;
        padding: 1vw;
        div.heading {
            text-decoration: underline;
            font-weight: 500;
        }
        div.field {
            margin: 3vh 0;
            label {
                font-weight: 500;
                width: 28%;
                display: inline-block;
            }
            input, textarea {
                width: 70%;
            }
            select#match {
                width: 25%;
            }
        }
        div.conditions  {
            max-height: 33vh;
            overflow-y: auto;
            margin-bottom: 2vh;
            div.condition:not(:last-child) {
                border-bottom: .05rem solid #dedede
            }
        }
    }
    div.footer {
        display: flex;
        align-content: flex-start;
        width: 85vw;
        margin: 2vh 0;
        button {
            margin: 0 1vw;
        }
    }
    .btn {
        &.condition  {
            line-height: 0.75;
            text-transform: none;
            background: transparent;
            color: #000000;
        }
        &.close {
            background: transparent;
            color: #000000;
        }
        &.save {
            background-color: #36cc57;
        }
    }
    @media screen and (max-width: 800px) {
        div.form {
            div.field {
                margin: 2.25vh 0;
                label {
                    width: 35%;
                }
                input, textarea {
                    width: 60%;
                }
                select#match {
                    width: 20%;
                }
            }
            div.conditions  {
                max-height: 37vh;
                div.condition {
                    margin: 2vh 0;
                    div.field {
                        width: 28%;                        
                    }
                }
            }
        }
    }
}

