div.rules-list {
    width: 100%;
    padding: 0 2vw;
    font-size: 1.2rem;
    box-sizing: border-box;
    div.title {
        font-weight: 700;
        font-size: 1.5rem;
        display: inline-block;
        margin-top: 1vh;
        margin-right: 2vw;
    }
    div.cards {
        display: flex;
        flex-flow: row wrap;
        height: 80vh;
        overflow-y: auto;
        a {
            text-decoration: none;
        }
        div.card {
            position: relative;
            height: 40vh;
            width: 30vw;
            box-shadow: 0 .15rem 0 0 #dedede;
            border: .05rem solid #dedede;
            margin: 0.5rem 1rem 0.5rem 0;
            text-decoration: none;
            color: black;
            .header {
                cursor: pointer;
                font-weight: 500;
                padding: .6rem .9rem;
                border-bottom: .05rem solid #dedede;
            }
            .body {
                margin: 1vh 1vw;
                font-size: 1rem;
                .description {
                    height: 10vh;
                    overflow: hidden;
                }
                .data-list {
                    span:first-child {
                        font-weight: 500;
                        display: inline-block;
                        width: 40%;
                    }
                    span.badge {
                        width: 1rem;
                        background-color: blueviolet;
                        border: 1px solid white;
                        color: white;
                        text-align:center;
                        display: inline-block;
                        border-radius: 50%;
                    }
                }
            }
            .footer {
                padding: .6rem .9rem;
                border-top: .05rem solid #dedede;
                bottom: 0.1rem;
                position: absolute;
                width: calc(100% - 1.8rem);;
            }
        }
    } 
    @media screen and (max-width: 800px) {
        div.cards {
            div.card {
                width: 90vw;
                height: 50vh;
                .body {
                    .description {
                        height: 15vh;
                    }
                    .data-list {
                        span:first-child {
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
}

div.error {
    color: red;
}